@media (min-width: 769px) and (max-width: 1024px) {
    html{
        font-size: 14px;
      }
      .wrapper{
        padding: 10px 20px;
    }
    /* ------------------------------header------------------ */
    .social__wrapper {
        margin-left: 20px;
    }
}