* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.albert{
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.philosopher {
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.wrapper{
    width: 80%;
    max-width: 1172px;
}
.font-color {
    color: rgb(133, 133, 133);
}
.button{
    width: max-content;
    padding: 17px 30px;
    border: none;
    background-color: rgb(2, 119, 110);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size:15px ;
    line-height: 18px;
    transition: background-color 0.3s , color 0.3s ;
    border-radius: 30px;
}
.button:hover{
    background-color:rgb(59,59,59) ;
    cursor: pointer;
}
.text-main{
    color: rgb(133, 133, 133);
}
.btn {
    width: 150px;
    height: 50px;
    border-radius: 800px;
    border: none;
    background-color: rgb(2, 119, 110);
    color: white;
    font-weight: 900;
}
/*---------------------------header--------------------------------------- */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto 80px;
   
}

.header__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
h1 {
    font-size: 30px;
    font-weight: 800;
    color: rgb(59, 59, 59);
}
.header__icon {
    width: 45px;
    height: 55px;
    position: absolute;
    z-index: -10;
    left: -20px;
}
.nav__list {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    list-style: none;
}
.nav__list a{
text-decoration: none;
color: rgb(132, 120, 104);
font-weight: 500;
}
.nav__list a:hover{
    color: rgb(29, 27, 27);
}
.social__list {
    display: flex;
    justify-content: start;
    list-style-type: none;
    gap: 20px;
}
.social__list img {
    height: 18px;
    width: auto;
}

/* ------------------------------------main-------cover---------------------------------------- */
.cover {
    padding-left: 12vw;
    padding-bottom: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 245);
}
.cover__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 45%;
    gap: 60px;
}
.cover__img {
    width: 55%;
    height: 690px;
}
.cover img {
    width: 100%;
    height: 100%
}
.cover__info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    height: 70%;
    margin-top: 9vh;
    gap: 40px;
}
.cover__title{
    width: 800px;
    font-size: 97px;
    position: relative;
    top: 0;
    left: 0;
    text-align: start;
    color: rgb(43, 43, 43);
}

.cover__text {
    font-size: 17px;
    width: 80%;
    color:  rgb(133, 133, 133);
}
.cover__features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 30%;
    margin-bottom: 5vh;
}
.cover__features p{
    font-size: 12px;
    font-weight: 800;
    color: rgb(133, 133, 133);
    text-transform: uppercase;
    margin-top: 20px;
}
.features__item img {
    width: 50px;
    height: 50px;
}
/* -----------------------about-us---------------------------------------------------- */
/* --------------------------------------block1-------------------------------------- */
.about-us {
    margin:120px auto;
}
.mb120{
    margin-bottom: 120px;
}
.about-us__block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.about-us__image {
    height: 600px;
    max-width: 650px;
    object-fit: cover;
}
.about-us__image img {
    width: 100%;
    height: 100%;
}
.about-us__info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    
}
.about-us__label {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us__info img {
    width: 20px;
    height: 20px;
}
.about-us__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    padding-right: 106px;
    color: rgb(58, 58, 58);
}
.about-us__text{
    font-size: 17px;
    line-height: 26px;
}
/* ---------------------------------block2----------------------------------- */
.about-us__quote {
    font-size: 26px;
    font-weight: 500;
    line-height: 34px;
    padding-right: 30px;
}
.padding-right30 {
    padding-right: 30px;
    text-align: justify;
}
.about-us__quote-icon {
    font-weight: 900;
    font-size: 90px;
    color: rgb(2, 119, 110);
}
.about-us__contact {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    line-height: 12px;
}
.about-us__image2 {
    width: 650px;
    height: 420px;
}
.about-us__image2 img {
    width: 100%;
    height: 100%;
}
/* ------------------------------categories--------------------- */
.categories {
    padding: 10vh 34vw;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(rgb(50, 50, 50, 0.9), rgb(50, 50, 50, 0.9)), url(img/premium_photo-1689609949921-6b2529511e38\ \(1\).avif);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.categories img {
    width: 50px;
    padding-bottom: 20px;
}

.categories h4 {
    font-size: 40px;
    font-weight: 300px;
    padding-top: 25px;
}

.categories__card {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.categories h5 {
    font-size: 30px;
    font-weight: 300px;
    padding-bottom: 35px;
}

.categories__card a {
    color: white;
}

.padding-bottom20 {
    padding-bottom: 20px;
}

/* ----------------------------features--------------------------------------- */
.features {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
}

.features__img {
    width: 100%;
    height: 100%;
}

.features__img img {
    width: 100%;
    height: 100%;

}

.features__info {
    background-color: rgb(2, 119, 110);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5%;
    gap: 30px;
}

.features__info--wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    gap: 130px;
    font-size: 21px;
}

.features__info--div-title {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.features__info--div-title h6 {
    font-size: 16px;
    text-transform: uppercase;
}

.features__info--div-title img {
    width: 30px;
    height: 30px;
}

.features__info--h4 {
    font-size: 50px;
    letter-spacing: 1px;
}

.features__info p {
    font-size: 21px;
}

.features__info button {
    margin-top: 60px;
    width: 150px;
    height: 50px;
    border-radius: 800px;
    border: none;
    background-color: rgb(59, 59, 59);
    color: white;
    font-weight: 900;
}

/* ---------------------------------projects------------------------------ */
.projects {
    height: 240vh;
    width: 80vw;
    margin: 0 auto;
}

.projects__title {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;

}

.projects__title img {
    width: 50px;
    height: 50px;
}

.projects__title h4 {
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(132, 120, 104);
}

.projects__title p {
    font-size: 46px;
    padding: 0 20%;
    text-align: center;
}

.projects__cards {
    height: 160vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.projects__card {
    width: 48%;
    height: 48%;
    position: relative;

}

.projects__card img {
    width: 100%;
    height: 100%;

}

.projects__card--info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    gap: 30px;
    padding: 20px 0;
    bottom: 30px;
    left: 30px;
    background-color: rgb(59, 59, 59);
    width: 90%;

}

.projects__card--info h5 {
    color: white;
    font-size: 26px;
    font-weight: 400;
    line-height: 29px;
}

.projects__card--info p {
    color: rgba(255, 255, 255, 0.81);
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
}

.projects__footer {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12%;
}

.projects__footer h6 {
    font-size: 35px;
    font-weight: 100;
    color: rgb(58, 58, 58);
}

.projects__footer a {
    color: rgb(90, 166, 161);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

/* -------------------------------------partners------------------------------ */
.partners {
    background-color: rgb(247, 247, 245);
}

.partners__block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 175px;
    gap: 85px;
}

.partners__info {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 445px;
    height: auto;
    gap: 35px;
}

.partners__info--title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.partners__info img {
    width: 16px;
    height: 16px;
}

.partners__info h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    color: rgb(132, 120, 104);
}

.partners__info h5 {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    color: rgb(58, 58, 58);
}

.partners__info p {
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(133, 133, 133);
    padding-right: 60px;
}

.partners__info--img {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.partners__info--img img {
    flex: 1 1 calc(33.333% - 20px);
    height: auto;
}

.partners__img {
    width: 100%;
    max-width: 650px;
    height: auto;
}

.partners__img img {
    width: 100%;
    height: 100%;
}

/* -------------------------------------------highlights------------------------------------ */
.highlights {
    background-color: rgb(42, 42, 42);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    padding: 120px 0;
}

.highlights__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}

.highlights__header img {
    width: 50px;
    height: auto;
}

.highlights__header h4 {
    font-size: 14px;
    font-weight: 800;
    line-height: 12x;
    color: rgb(247, 247, 245);
}

.highlights__header p {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    color: rgb(255, 255, 255);
}

.highlights__products {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 60px;
    width: 100%;
    max-width: 1172px;
}

.product {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 33px;
    flex: 1 1 calc(33.333% - 60px);
    height: auto;
}

.product__link {
    display: block;
    text-decoration: none;
    position: relative;
    width: 100%;
    max-width: 350px;
    height: auto;
}
.product__link img {
    width: 100%;
    height: 100%;
}
.product__link p {
    position: absolute;
    top: 8px;
    left: 5px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(70, 76, 92);
    border-radius: 3px;
    padding: 6px 9px;
}
.product__name{
    font-size: 21px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 34px;
    text-decoration: none;
}
.product__price{
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 32px;
}
.product__price span{
    text-decoration: line-through;
    margin-right: 20px;
}
.product__button{
    width: max-content;
    padding: 15px 25px;
    border-radius: 800px;
    border: none;
    background-color: rgb(2, 119, 110);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size:15px ;
    line-height: 18px;
    transition: background-color 0.3s , color 0.3s ;
}
.product__button:hover{
    background-color:rgb(255, 255, 255) ;
    color: rgb(59, 59, 59) ;
    cursor: pointer;
}
/* --------------------------------------------number---------------------------------- */
.number{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 119, 110);
    gap: 40px;
    padding: 45px 20px;
}
.number div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:20px ;
}
.number span{
    font-size: 48px;
    line-height: 58px;
    color:rgb(255,255,255);
}
.number hr{
    width:35px ;
    background-color: rgb(50, 145, 137);
    height: 3px;
    border: none;
}
.number p {
    font-size: 17px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.76);
}
/* -----------------------------------parallax---------------------------------- */
.parallax {
    height: 85vh; 
    overflow: hidden;
    position: relative;
  }
  
  .parallax__conteiner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('img/paralaxFurniture.avif');
    height: 120%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover; 
    background-attachment: fixed;  
    background-position: center;
  }
  
  .parallax__content {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
  }
  .parallax__title{
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
    color: rgb(255, 255, 255) ;
  }
  .parallax__button{
    width: max-content;
    padding: 15px 25px;
    border-radius: 800px;
    border: none;
    background-color: rgb(2, 119, 110);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size:15px ;
    line-height: 18px;
    transition: background-color 0.3s , color 0.3s ;
    margin-top: 49px;
}
.parallax__button:hover{
    background-color:rgb(255, 255, 255) ;
    color: rgb(59, 59, 59) ;
    cursor: pointer;
}
/* --------------------------------offer-------------------------------------- */
.offer{
    max-width: 1150px;
    margin: 125px auto 0;
   display: flex;
   flex-direction: column;
}
.offer__header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom:20px ;
}
.offer__header img{
    width: 16px;
    height: 16px;
}
.offer__title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 800;
    color:rgb(132, 120, 104) ;
}
.offer__content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 90px;
}
.offer__content h5 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
    color: rgb(58, 58, 58);
    width: 50%;
}
.offer__content span{
width: 50%;
padding-right: 30px;
}
.offer__content p{
    font-size: 17px;
    line-height: 26px;
    color: rgb(133,133,133);
    font-weight: 400;
    margin-bottom: 20px;
}
.offer__content a {
    font-weight: 800;
    color: rgb(2,119,110);
    font-size: 14px;
    line-height: 12px;
    text-transform:uppercase ;
}
.offer__hr{
    margin-top: 65px;
    background-color: rgb(236, 236, 236);
    border: none;
    height: 1px;
}
.offer__block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width: 1150px;
    margin: 65px auto ;
}
.offer__block-img {
    width: 50%;
    max-width: 550px;
    height: auto;
}
.offer__elements{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    width: 50%;
    gap: 30px;
}
.offer__element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 240px;
}
.offer__element img{
    width: 50px;
    height: auto;
}
.offer__element h6{
    font-size: 26px;
    font-weight: 400;
    line-height: 29px;
    color: rgb(43, 43, 43);
}
.offer__element p{
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(133, 133, 133);
    padding-right: 20px;
}
/*---------------------------------comьents----------------------------------------- */
.comments{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slider {
    position: relative;
    width: 80%;
    max-width: 940px;
    padding: 20px;
    
}
.slider__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.slider__wrapper img{
    height: 130px;
    width: auto;
}
.quote {
    font-style: italic;
    color:rgb(58, 58, 58);
    font-size: 21px;
    line-height: 34px;
}
.author {
    margin-top: 10px;
    font-weight: 500;
    color: rgb(132,120,104);
    font-size: 15px;
    line-height: 26px;
}
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: gray;
}
.prev {
    left: -100px;
}
.next {
    right: -100px;
}
.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: lightgray;
    border-radius: 50%;
    cursor: pointer;
}
.dot.active {
    background: gray;
}
/* ----------------------------news--------------------------------------------- */
.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color:rgb(247, 247, 245) ;
    height: auto;
}
.news__wrapper{
    width: 80%;
    max-width: 1172px;
    margin: 125px auto;
}
.news__title{
    display: flex;
    align-items: center;
}
.news__title img{
height: 14px;
width: auto;
}
.news__title h4{
    font-size: 14px;
    font-weight: 800;
    color: rgb(132, 120, 104) ;
    line-height: 24px;
}
.news__subtitle{
    font-size: 48px;
    font-weight: 400px;
    line-height: 58px;
    color: rgb(58, 58, 58);
    max-width: 710px;
    font-style: italic;
}
.news__cards{
    display: flex;
    justify-content: center;
    gap:60px ;
}
.news__cards-left{
    margin-top:120px ;
    display: flex ;
    flex-direction: column;
    gap: 60px;
}
.news__cards-right{
    margin-top: 60px;
    display: flex ;
    flex-direction: column;
    gap: 60px;
}
.news__card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:28px ;

}
.news__card img {
    width: 100%;
    object-fit: cover;
}
.news__cards-left .news__card:nth-child(1) img {
    height: 330px;
}
.news__cards-left .news__card:nth-child(2) img {
    height: 465px;
}
.news__cards-right .news__card:nth-child(1) img {
    height: 565px;
}
.news__cards-right .news__card:nth-child(2) img {
    height: 355px;
}

.news__card p{
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    color: rgb(132, 120, 104);
}
.news__card span{
    font-size: 26px;
    font-weight: 400;
    line-height: 29px;
    color: rgb(43, 43, 43);
}

.news__card button{
    width: max-content;
    padding: 15px 25px;
    border-radius: 800px;
    border: none;
    background-color: rgb(2, 119, 110);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size:15px ;
    line-height: 18px;
    transition: background-color 0.3s , color 0.3s ;
    margin-top: 18px;
}
.news__card button:hover{
    background-color:rgb(59,59,59) ;
    cursor: pointer;
}
/* --------------------------------------------------------- */
